.section-digital-problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17px 52px 17px;
    color:var(--darc-color);
}

.section-digital-problems__title {
    margin: 51px 0 0 0;
}

.section-digital-problems__title,
.section-digital-problems__paragraph {
    max-width: 880px;
} 

.section-digital-problems__paragraph {
    margin: 43px 0 0 0;
}