.section-web {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    color: var(--darc-color);
}

.section-web__wrap-paragraph {
    display: flex;
    align-content: center;
    margin: 26px auto 0 auto;
}

.section-web__paragraph {
    width: 50%;
    margin: 0 10px 0 10px;
}